################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestProject3/bin/Debug/net472
/TestProject3/obj/Debug
